USE [Heroes]
GO
/****** Object:  Table [dbo].[HEROES]    Script Date: 23.04.2018 16:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HEROES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
	[imglink] [text] NULL,
	[realName] [nvarchar](250) NULL,
	[power] [text] NULL,
	[abilities] [text] NULL,
	[citizenship] [nvarchar](500) NULL,
 CONSTRAINT [PK_HEROES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 23.04.2018 16:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[SURNAME] [nvarchar](250) NULL,
	[EMAIL] [nvarchar](250) NULL,
	[PASSWORD] [nvarchar](150) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HEROES] ON 

SET IDENTITY_INSERT [dbo].[HEROES] OFF
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([ID], [NAME], [SURNAME], [EMAIL], [PASSWORD]) VALUES (1, N'Can', N'Akburu', N'canakburu06@gmail.com', N'Ca123456+')
SET IDENTITY_INSERT [dbo].[USER] OFF
